<div class="container">
  <h3>付款表單</h3>

  <div class="row">
    <div class="form-group col">
      <label>收款人姓名</label>
      <input class="form-control" />
    </div>

    <div class="col">
      <label><b>姓名</b></label>
      <div>
        姓名
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>付款日期</label>
      <input type="date" class="form-control" />
    </div>

    <div class="col">
      <label><b>付款日期</b></label>
      <div>
        付款日期
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>付款金額</label>
      <input class="form-control" />
    </div>

    <div class="col">
      <label><b>付款金額</b></label>
      <div>
        付款金額
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>身高</label>
      <input class="form-control" />
    </div>

    <div class="col">
      <label><b>身高</b></label>
      <div>
        身高
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>英里</label>
      <input class="form-control" />
    </div>

    <div class="col">
      <label><b>公里</b></label>
      <div>
        公里
      </div>
    </div>
  </div>
</div>
